<h1>My Projects</h1>


<% @user.projects.each do |p| %>
<h3><%= p.title %> </h3>
<ul>
  <li><%= p.description %></li>
  <li><%= p.goal %></li>
  <li><%= p.start_date %></li>
  <li><%= p.end_date %></li>
</ul>
<% end %>

<%= link_to "All Projects", projects_path %>