<h1>Project#show</h1>

<li><%= @pledges_total %></li>

<h3><%= @project.title %> </h3>
<ul>
  <li><%= @project.description %></li>
  <li><%= @project.goal %></li>
  <li><%= @project.start_date %></li>
  <li><%= @project.end_date %></li>
</ul>

<% if current_user.id == @project.owner_id %>

  <h4>New Breakpoint</h4>

  <%= form_for([@project, @breakpoint]) do |f| %>
    <% if @breakpoint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@breakpoint.errors.count, "error") %> prohibited this breakpoint from being saved:</h2>

        <ul>
        <% @breakpoint.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %><br />
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>

<h4>Breakpoints</h4>

<% @project.breakpoints.each do |bp| %>
<ul>
  <li><%= bp.description  %></li>
  <li><%= bp.amount %></li>
  <li><%= form_for([@project, @pledge]) do |f| %>
      <%= f.hidden_field :breakpoint_id, :value => bp.id %>
      <div id="pledge_submit">
        <%= f.submit %>
      </div>
    <% end %>
    </li>
</ul>
<% end %>


<%= link_to "All Projects", projects_path %>


